.button {
    background-color: aquamarine;
}
.button:hover {
    color: rgb(255, 255, 255);
    background-color: green;
}

.button::before {
    content: "Pasa por encima"
}
.button:hover::before {
    content: "¡Hecho!"
}
